.shopList {
    border: 1px solid #bdc1c6;
    border-radius: 5px;
    padding: 25px;
    width: 400px;
}

.shopList h1 {
    font-size: 32px;
}

.shopList ul {
    list-style-type: none;
}

.shopList li {
    display: flex;
    align-items: center;
}

.shopList li > p {
    flex: 1;
    text-align: left;
    margin: 8px 0;
}

.shopList .actionBar {
    display: flex;
    width: 100px;
    justify-content: flex-end;
}

.shopList li span {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-weight: bold;
    color: #bdc1c6;
    border: 1px solid #bdc1c6;
    border-radius: 50%;
    cursor: pointer;
}

.shopList li span:last-child {
    background-color: #5992dc;
    border-color: #5992dc;
    color: #fff;
}

.shopList li strong {
    padding: 0 10px;
    flex: 1;
}

.shopList > p {
    text-align: right;
}